@model SGH2425_V3.Models.Solicitar

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Solicitar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qtd_Prescrita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qtd_Prescrita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Posologia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Posologia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medicamento.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prescricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prescricao.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistradoPor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistradoPor.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MedicamentoId" />
        <input type="hidden" asp-for="PrescricaoId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
