@model SGH2425_V3.Models.Solicitar

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Solicitar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qtd_Prescrita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qtd_Prescrita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Posologia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Posologia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medicamento.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prescricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prescricao.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistradoPor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistradoPor.Id)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
