@model SGH2425_V3.Models.Tipo_Medicamento
@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes das Alergias</h1>

<div>
    <hr />
    <div class="row">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
                <td>
                    @Html.DisplayFor(model => model.Tipo)
                </td>

                <th>
                    @Html.DisplayNameFor(model => model.Forma_Farmaceutica)
                </th>
                <td>
                    @Html.DisplayFor(model => model.Forma_Farmaceutica)
                </td>

            </tr>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Descricao)

                </th>
                <td>
                    @Html.DisplayFor(model => model.Descricao)
                </td>

            </tr>
        </table>
    </div>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
    <a class="btn btn-primary" asp-action="Index">Voltar</a>
</div>














