@model IEnumerable<SGH2425_V3.Models.Tipo_Medicamento>
@{
    ViewData["Title"] = "Index";
}

<h1>Lista dos Tipos de Medimentos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Novo Tipo de Medicamento</a>
</p>
<table id="myTable" class=" table table-bordered table-responsive table-hover table-responsive-lg">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Forma_Farmaceutica)
            </th>
         

            <th>Editar</th>
            <th>Ver</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Forma_Farmaceutica)
                </td>
             
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                </td>

                <td>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Ver</a>
                </td>

                <td>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>

            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                language: {
                    'url': 'https://cdn.datatables.net/plug-ins/1.11.5/i18n/pt-PT.json'
                }
            });
        });
    </script>
}













